<div class="row">
  <p style="color: green"><%#= notice %></p>
  <div class="mx-auto">
    <h1>Todos</h1>
    <%= render 'form', todo: Todo.new %>
    <div id="todos">
      <%= render @todos %>
    </div>
  </div>
</div>

